includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./phpstan-baseline.neon
    - ./dev/phpstan/custom-rules.neon

parameters:
    resultCachePath: %tmpDir%/resultCache.php

    paths:
        - ./app/
        - ./dev/phpstan

    excludePaths:
        - ./app/Domain

    level: 5

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    checkMissingIterableValueType: false
