includes:
    - ./vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    resultCachePath: %tmpDir%/resultCache-domain.php

    paths:
        - ./app/Domain
        - ./tests/Unit

    level: 9
